Source: tklbam
Section: misc
Priority: optional
Maintainer: Liraz Siri <liraz@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-exec,
# dh-python2 (>= 4.20201102+turnkey0),
 python3-all,
Standards-Version: 4.0.0
X-Python-Version: >= 3.11

Package: tklbam3
Architecture: all
Depends:
 ca-certificates,
 ${misc:Depends},
 gnupg,
 ntpdate,
 py3curl-wrapper,
 gpg (>= 2.2.12),
 ${python:Depends},
 python3-crypto,
# python-simplejson,
 tklbam-duplicity (>=  0.6.18),
 tklbam-python-boto (>= 2.3.0-2turnkey),
 tklbam-squid (>= 2.7.STABLE9-2.1turnkey+25),
# turnkey-pylib (>= 0.5),
Description: TurnKey GNU/Linux Backup and Migration agent
