Source: tklbam
Section: misc
Priority: optional
Maintainer: KeelLinux maintainers <admin@keellinux.org>
Uploaders: Marcos Mendez <mendez.foto@gmail.com>
Build-Depends:
 debhelper (>= 10),
 dh-exec,
 libcurl4-openssl-dev,
 curl,
 tar,
 librsync-dev (>= 0.9.6),
 libssl-dev,
 libgmp-dev,
 turnkey-pypy2 | turnkey-pypy2-full,
 librsync2t64,
Standards-Version: 4.0.0

Package: tklbam
Architecture: any
Conflicts:
 tklbam-duplicity,
 tklbam-python-boto,
 turnkey-pylib,
 python-pycurl,
 pycurl-wrapper,
 tklbam (<= 1.4.7),
Replaces:
 tklbam-duplicity,
 tklbam-python-boto,
 turnkey-pylib,
 python-pycurl,
 pycurl-wrapper,
 tklbam (<= 1.4.7),
Depends:
 ca-certificates,
 ${misc:Depends},
 gnupg,
 ntpsec-ntpdate,
 duplicity,
 turnkey-python3-boto3 | python3-boto3,
 turnkey-pypy2 | turnkey-pypy2-full | turnkey-pypy2-dbg,
 gpg (>= 2.2.12),
 tar,
 tklbam-squid,
Description: TurnKey GNU/Linux Backup and Migration agent
 A backup and data migration tool to backup and/or migrate
 files, directories and database data (mysql/maridb &
 postgresql).
 .
 Primarily TKLBAM is intended for use on TurnKey GNU/Linux
 but it should also work on any Debian based OS.
