Source: tklbam
Section: misc
Priority: optional
Maintainer: Liraz Siri <liraz@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-exec,
 dh-python,
 python2.7,
Standards-Version: 4.0.0
X-Python-Version: >= 2.6

Package: tklbam
Architecture: all
Depends:
 ca-certificates,
 ${misc:Depends},
 gnupg,
 ntpdate,
 pycurl-wrapper (>= 1.2),
 pycurl-wrapper (<< 2.0),
 gpg (>= 2.2.12),
 ${python:Depends},
 python-crypto,
 python-simplejson,
 tklbam-duplicity (>=  0.6.18),
 tklbam-python-boto (>= 2.3.0-2turnkey),
 tklbam-squid (>= 2.7.STABLE9-2.1turnkey+25),
 turnkey-pylib (>= 0.5),
Description: TurnKey GNU/Linux Backup and Migration agent
